@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Lato-Light';
  src: url("../fonts/lato/Lato-Light.ttf") format("truetype"); }
@font-face {
  font-family: 'Raleway',serif;
  src: url("../fonts/raleway/Raleway-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Raleway-Bold',serif;
  src: url("../fonts/raleway/Raleway-Bold.ttf") format("truetype"); }
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box; }

body, html {
  background-color: #F2F2F2;
  overflow-x: hidden;
  font-family: Lato;
  width: 100%;
  margin: 0; }

header .navbar {
  z-index: 2;
  position: relative;
  overflow: hidden;
  background-color: #2D2D2D;
  position: fixed;
  top: 0;
  width: 100%;
  height: 5.18rem;
  white-space: nowrap; }
  header .navbar button {
    display: none; }
  header .navbar .links {
    height: 5.18rem;
    display: flex;
    align-items: center; }
    header .navbar .links .logo {
      flex: 1;
      margin-left: 3.9rem; }
      header .navbar .links .logo a {
        text-decoration: none;
        color: #999999;
        transition: color 0.3s ease;
        font-weight: 900;
        font-size: 22px;
        line-height: 20px; }
        header .navbar .links .logo a:hover {
          color: white; }
        header .navbar .links .logo a i {
          color: #FF7878;
          margin: 0 -4px 0 -4px; }
    header .navbar .links .menu {
      display: block;
      width: 400px;
      right: 0;
      margin-right: 2rem; }
      header .navbar .links .menu .home {
        color: white;
        background-color: #FF7878;
        transition: background-color 0.3s ease; }
        header .navbar .links .menu .home:hover {
          background-color: black; }
      header .navbar .links .menu a {
        transition: color 0.3s ease;
        padding: 5px 15px;
        padding-top: 14px;
        padding-bottom: 15px;
        text-decoration: none;
        color: #999999;
        font-size: 14.4px;
        font-weight: 800; }
        header .navbar .links .menu a:hover {
          color: white; }
header .header {
  background: url("../img/header-bg.jpg") no-repeat center top;
  width: 100%;
  margin: 0;
  margin-top: 3.75rem;
  min-height: 500px;
  background-position: center center;
  background-size: cover;
  text-align: center; }
  header .header h1 {
    line-height: 76px;
    font-family: Raleway;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 121px;
    color: white;
    font-size: 70px;
    font-weight: 300;
    letter-spacing: 3px; }
  header .header h2 {
    font-family: Raleway-Bold;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    color: white;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 293px; }

.presentation {
  margin: 0 6rem 2rem 6rem;
  display: flex;
  text-align: center;
  font-size: 14.4px; }
  .presentation h3 {
    margin-top: 0.5rem;
    font-weight: 700;
    font-size: 17.5px; }
  .presentation p {
    line-height: 28px;
    font-family: Lato-Light;
    font-size: 16px;
    color: #555555; }
  .presentation i {
    color: #FF7878;
    font-size: 30px;
    margin-top: 5rem; }
  .presentation .design {
    width: 60rem;
    padding-right: 2rem; }
  .presentation .bootstrap {
    width: 58rem; }
  .presentation .support {
    width: 60rem;
    padding-left: 2rem; }

.phones {
  width: 100%;
  display: flex;
  background-color: #E0E0E0;
  padding: 6rem 0 4rem 0;
  justify-content: center; }
  .phones p {
    font-size: 18px;
    font-family: Raleway-Bold;
    color: #333333;
    font-weight: bold;
    position: absolute;
    margin-top: -2rem; }
  .phones .phone1 {
    width: 300px;
    height: 426px;
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    -o-transition: -o-transform .5s;
    -ms-transition: -ms-transform .5s;
    transition: transform .5s;
    margin-right: 6rem;
    background: url("../img/p01.png") no-repeat; }
    .phones .phone1:hover {
      -webkit-transform: rotate(-10deg);
      -moz-transform: rotate(-10deg);
      -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
      transform: rotate(-10deg); }
  .phones .phone2 {
    width: 300px;
    height: 426px;
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    -o-transition: -o-transform .5s;
    -ms-transition: -ms-transform .5s;
    transition: transform .5s;
    background: url("../img/p02.png") no-repeat; }
    .phones .phone2:hover {
      -webkit-transform: rotate(-10deg);
      -moz-transform: rotate(-10deg);
      -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
      transform: rotate(-10deg); }
  .phones .phone3 {
    width: 300px;
    height: 426px;
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    -o-transition: -o-transform .5s;
    -ms-transition: -ms-transform .5s;
    transition: transform .5s;
    margin-left: 6rem;
    background: url("../img/p03.png") no-repeat; }
    .phones .phone3:hover {
      -webkit-transform: rotate(-10deg);
      -moz-transform: rotate(-10deg);
      -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
      transform: rotate(-10deg); }

.creation {
  text-align: center;
  width: 100%;
  height: 500px;
  position: relative; }
  .creation h4 {
    padding-top: 3rem;
    font-size: 18px;
    font-family: Raleway-Bold;
    color: #333333;
    font-weight: bold; }
  .creation p {
    line-height: 28px;
    font-family: Lato-Light;
    font-size: 16px;
    color: #555555;
    margin: 0 15rem 0 15rem; }
  .creation .screen {
    width: 1600px;
    height: 333.11px;
    max-width: 80%;
    max-height: 70%;
    bottom: 0;
    background-image: url("../img/munter.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 3rem; }

.clients {
  display: flex;
  justify-content: center;
  background-color: #EBEBEB; }
  .clients p {
    font-size: 18px;
    font-family: Raleway-Bold;
    color: #333333;
    font-weight: bold;
    position: absolute;
    margin-top: 3rem; }
  .clients .wrap {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 6rem; }
    .clients .wrap .lowe {
      width: 170px;
      height: 200px;
      background: url("../img/c01.gif") no-repeat; }
    .clients .wrap .ms {
      width: 170px;
      height: 200px;
      background: url("../img/c02.gif") no-repeat; }
    .clients .wrap .sealy {
      width: 170px;
      height: 200px;
      background: url("../img/c03.gif") no-repeat; }
    .clients .wrap .circle {
      width: 170px;
      height: 200px;
      background: url("../img/c04.gif") no-repeat; }
    .clients .wrap .wells {
      width: 170px;
      height: 200px;
      background: url("../img/c05.gif") no-repeat; }

.storytellers {
  line-height: 1.7rem;
  color: white;
  background-color: #FF7878;
  display: flex;
  flex-direction: column;
  text-align: center; }
  .storytellers h3 {
    font-size: 18px;
    font-family: Raleway-Bold;
    color: #333333;
    font-weight: bold;
    color: white;
    margin: 0;
    margin-top: 2.6rem;
    font-size: 18px; }
  .storytellers .wrapper {
    margin: 0 16.3rem 0 16.3rem; }
    .storytellers .wrapper p {
      font-family: Lato-Light;
      font-weight: 300;
      margin-top: 0.5rem;
      margin-bottom: 3.8rem; }

footer {
  width: 100%;
  height: 130px;
  background-color: #2D2D2D;
  display: flex;
  justify-content: center;
  line-height: 130px;
  color: #bdbdbd;
  font-size: 30px; }
  footer i {
    margin-left: 2.4rem; }
    footer i.fa-twitter {
      margin-left: 0; }
    footer i:hover {
      color: #FF7878;
      cursor: pointer; }

/*----------------media screen---------------*/
@media only screen and (max-width: 1150px) {
  .presentation {
    overflow: auto;
    overflow-x: hidden;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 14.4px;
    flex-wrap: wrap; }
    .presentation h3 {
      margin-top: 0.5rem;
      font-weight: 700;
      font-size: 17.5px; }
    .presentation p {
      line-height: 28px;
      font-family: Lato-Light;
      font-size: 16px;
      color: #555555; }
    .presentation i {
      color: #FF7878;
      font-size: 30px; }
    .presentation .design {
      padding: 0;
      margin-top: -0.5rem; }
    .presentation .bootstrap {
      padding: 0;
      margin-top: -2rem; }
    .presentation .support {
      padding: 0;
      margin-bottom: 4rem; } }
@media only screen and (max-width: 555px) {
  header .navbar {
    z-index: 2;
    position: relative;
    background-color: #2D2D2D;
    position: fixed;
    top: 0;
    width: 100%;
    height: 5.18rem;
    white-space: nowrap; }
    header .navbar .links {
      height: 5.18rem;
      display: flex;
      align-items: center; }
      header .navbar .links .logo {
        flex: 1;
        margin-left: 3.5rem; }
        header .navbar .links .logo a {
          text-decoration: none;
          color: #999999;
          transition: color 0.3s ease;
          font-weight: 800;
          font-size: 22px; }
          header .navbar .links .logo a:hover {
            color: white; }
          header .navbar .links .logo a i {
            color: #FF7878;
            margin: 0 -4px 0 -4px; }
      header .navbar .links .menu {
        display: block;
        width: 400px;
        right: 0; }
        header .navbar .links .menu .home {
          color: white;
          background-color: #FF7878;
          transition: background-color 0.3s ease; }
          header .navbar .links .menu .home:hover {
            background-color: black; }
        header .navbar .links .menu a {
          transition: color 0.3s ease;
          padding: 5px 15px;
          padding-top: 14px;
          padding-bottom: 15px;
          text-decoration: none;
          color: #999999;
          font-size: 14.4px;
          font-weight: 800; }
          header .navbar .links .menu a:hover {
            color: white; }
  header .header {
    background: url("../img/header-bg.jpg") no-repeat center top;
    width: 100vw;
    margin: 0;
    margin-top: 3.75rem;
    min-height: 500px;
    background-position: center center;
    background-size: cover;
    white-space: nowrap;
    text-align: center; }
    header .header h1 {
      font-family: Raleway;
      font-size: 70px;
      white-space: nowrap; }
    header .header h2 {
      font-family: Raleway-Bold;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      color: white;
      white-space: nowrap;
      font-size: 40px;
      font-weight: 700;
      letter-spacing: 2px;
      margin-top: 295px; } }
@media only screen and (max-width: 760px) {
  header .navbar {
    z-index: 2;
    position: relative;
    overflow: hidden;
    background-color: #2D2D2D;
    position: fixed;
    top: 0;
    width: 100%;
    height: 5.18rem;
    white-space: nowrap; }
    header .navbar button {
      display: block;
      background-color: transparent;
      right: 0;
      position: relative;
      float: right;
      padding: 9px 10px;
      margin-top: 25px;
      margin-right: 15px;
      margin-bottom: 8px;
      border: 1px solid transparent;
      border-radius: 4px; }
      header .navbar button:hover {
        background-color: #333333; }
      header .navbar button .icon-bar1 {
        margin-top: 4px;
        width: 22px;
        height: 2px;
        background-color: white;
        display: block;
        border-radius: 1px; }
      header .navbar button .icon-bar2 {
        margin-top: 4px;
        width: 22px;
        height: 2px;
        background-color: white;
        display: block;
        border-radius: 1px; }
      header .navbar button .icon-bar3 {
        margin-top: 4px;
        width: 22px;
        height: 2px;
        background-color: white;
        display: block;
        border-radius: 1px; }
    header .navbar .links {
      height: 5.18rem;
      display: flex;
      align-items: center; }
      header .navbar .links .logo {
        flex: 1;
        margin-left: 3.9rem; }
        header .navbar .links .logo a {
          text-decoration: none;
          color: #999999;
          transition: color 0.3s ease;
          font-weight: 900;
          font-size: 22px;
          line-height: 20px; }
          header .navbar .links .logo a:hover {
            color: white; }
          header .navbar .links .logo a i {
            color: #FF7878;
            margin: 0 -4px 0 -4px; }
      header .navbar .links .menu {
        display: none; }
  header .header {
    background: url("../img/header-bg.jpg") no-repeat center top;
    width: 100%;
    margin: 0;
    margin-top: 3.75rem;
    min-height: 500px;
    background-position: center center;
    background-size: cover;
    text-align: center; }
    header .header h1 {
      line-height: 76px;
      font-family: Raleway;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      margin-top: 121px;
      color: white;
      font-size: 70px;
      font-weight: 300;
      letter-spacing: 3px; }
    header .header h2 {
      font-family: Raleway-Bold;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      color: white;
      font-size: 40px;
      font-weight: 700;
      letter-spacing: 2px;
      margin-top: 293px; } }
@media only screen and (max-width: 1185px) {
  .phones {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #E0E0E0;
    padding: 10rem 0 4rem 0;
    justify-content: center;
    align-items: center; }
    .phones p {
      font-size: 18px;
      font-family: Raleway-Bold;
      color: #333333;
      font-weight: bold;
      position: absolute;
      margin-top: -43rem; }
    .phones .phone1 {
      width: 300px;
      height: 426px;
      -webkit-transition: -webkit-transform .5s;
      -moz-transition: -moz-transform .5s;
      -o-transition: -o-transform .5s;
      -ms-transition: -ms-transform .5s;
      transition: transform .5s;
      margin: 0;
      background: url("../img/p01.png") no-repeat; }
      .phones .phone1:hover {
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        transform: rotate(-10deg); }
    .phones .phone2 {
      width: 300px;
      height: 426px;
      -webkit-transition: -webkit-transform .5s;
      -moz-transition: -moz-transform .5s;
      -o-transition: -o-transform .5s;
      -ms-transition: -ms-transform .5s;
      transition: transform .5s;
      margin: 0;
      background: url("../img/p02.png") no-repeat; }
      .phones .phone2:hover {
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        transform: rotate(-10deg); }
    .phones .phone3 {
      width: 300px;
      height: 426px;
      -webkit-transition: -webkit-transform .5s;
      -moz-transition: -moz-transform .5s;
      -o-transition: -o-transform .5s;
      -ms-transition: -ms-transform .5s;
      transition: transform .5s;
      margin: 0;
      background: url("../img/p03.png") no-repeat; }
      .phones .phone3:hover {
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        transform: rotate(-10deg); } }

/*# sourceMappingURL=style.css.map */
