
@font-face {
	font-family: 'lato';
	src: url('../fonts/lato/Lato-Regular.ttf') format('ttf');
}
@font-face {
	font-family: 'raleway';
	src: url('../fonts/Raleway-Regular.ttf') format('ttf');
}
@font-face {
	font-family: 'lightRaleway';
	src: url('../fonts/Raleway-ExtraLight.ttf') format('ttf');
}

$imgpath: '../img';
$background:#F2F2F2;
$black:#2D2D2D;
$greySocial:#bdbdbd;
$greyTypo: #999999;
$greylight:#EBEBEB;
$grey:#E0E0E0;
$pink: #FF7878;
$p:#555;

* { box-sizing: border-box }

body,html{
	background-color:$background;
	height: 1500px;
	width:100%;
	margin:0;
}

header{

	.navbar{
		z-index:50;
		position: relative;
		overflow: hidden;
		background-color: $black;
		position: fixed;
		top: 0; 
		width: 100%;
		height:5.18rem; 
		white-space: nowrap;
		.links{
			height:5.18rem;
			display:flex;
			align-items: center;
			& .logo{
				white-space: nowrap;
				margin-right: 43.3rem;
				margin-left: 3.7rem;

				& a {
					font-weight: 800;
					font-size: 22px; 

					& i{
						color: $pink;
						margin:0 -4px 0 -4px;
					}
				}
			} 
		}
		& .home{
			color:white;
			background-color:$pink;
		}
		& a{
			padding: 5px 15px;
			padding-top: 14px;
			padding-bottom: 15px;
			text-decoration: none;
			color:$greyTypo;
			font-size:14.4px;
			font-family:lato;
			font-weight: 800;
		}
	}


	.header{
		background: url('#{$imgpath}/header-bg.jpg') no-repeat center top;
		width:100%;
		margin:0;
		margin-top:3.75rem;
		min-height: 500px;
		background-position: center center; 
		background-size: cover;

		text-align: center; 
		h1{
			font-family:lato;
			position:absolute;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
			margin-top: 119px;
			color: white;
			font-size: 70px;
			font-weight: 300;
			letter-spacing: 3px;
		}
		h2{
			position:absolute;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
			color: white;
			font-family:lato;
			font-size: 40px;
			font-weight: 700;
			letter-spacing: 2px;
			margin-top: 295px;
		}
	}
}
.presentation{
	margin: 0 6rem 2rem 6rem;
	display:flex;
	text-align: center;
	font-size:14.4px;
	font-family:lato;
	h3{
		margin-top:0.5rem;
		font-weight: 700;
		font-size: 17.5px;
	}
	p{
		
		line-height: 28px;
		font-family: lato;
		font-weight: 300;
		font-size: 16px;
		color: $p;
	}
	i{
		color: $pink;
		font-size: 30px;
		margin-top:5rem;
	}
	.design{
		width:60rem;
		padding-right:2rem;
	}
	.bootstrap{
		width:58rem;
		
	}
	.support{
		width:60rem;
		padding-left:2rem;
	}
}

.phones{
	width:100%;
	display:flex;
	background-color:$grey;
	padding:6rem 0 4rem 0;
	justify-content:center;

	p{
		position:absolute;
		font-weight: 700;
		font-size: 17.5px;
		margin-top:-2rem;
		font-family: lato;
	}
	.phone1{
		width:300px;
		height: 426px;
		margin-right: 6rem;
		background: url('#{$imgpath}/p01.png') no-repeat;
		-webkit-transition:-webkit-transform .5s; // Chrome Safari 
		-moz-transition:-moz-transform .5s; // Mozilla 
		-o-transition:-o-transform .5s; // Opéra 
		-ms-transition:-ms-transform .5s; // IE  
		transition:transform .5s;
		&:hover{
			-webkit-transform:rotate(-10deg); 
			-moz-transform:rotate(-10deg);
			-o-transform:rotate(-10deg); 
			-ms-transform:rotate(-10deg); 
			transform:rotate(-10deg);
		}
	}
	.phone2{
		width:300px;
		height: 426px;
		background: url('#{$imgpath}/p02.png') no-repeat;
		-webkit-transition:-webkit-transform .5s; 
		-moz-transition:-moz-transform .5s;      
		-o-transition:-o-transform .5s;         
		-ms-transition:-ms-transform .5s;        
		transition:transform .5s;
		&:hover{
			-webkit-transform:rotate(-10deg); 
			-moz-transform:rotate(-10deg);
			-o-transform:rotate(-10deg); 
			-ms-transform:rotate(-10deg); 
			transform:rotate(-10deg);
		}
	}
	.phone3{
		width:300px;
		height: 426px;
		margin-left: 6rem;
		background: url('#{$imgpath}/p03.png') no-repeat;
		-webkit-transition:-webkit-transform .5s;
		-moz-transition:-moz-transform .5s;       
		-o-transition:-o-transform .5s;         
		-ms-transition:-ms-transform .5s;        
		transition:transform .5s;
		&:hover{
			-webkit-transform:rotate(-10deg); 
			-moz-transform:rotate(-10deg);
			-o-transform:rotate(-10deg); 
			-ms-transform:rotate(-10deg); 
			transform:rotate(-10deg);
		}
	}
}
.design{
	display:flex;
	flex-direction:column;
	text-align:center;
	h4{

	}
	.screen{
		width:1600px;
		height: 564px;
		background: url('#{$imgpath}/munter.png') no-repeat;
		transform:scale(.5);
	}
}
.clients{
	display:flex;
	justify-content:center;
	background-color:$greylight;
	p{
		position:absolute;
	}
	.awesome{

	}
	.lowe{
		width:170px;
		height: 200px;
		background: url('#{$imgpath}/c01.gif') no-repeat;
	}
	.ms{
		width:170px;
		height: 200px;
		background: url('#{$imgpath}/c02.gif') no-repeat;
	}
	.sealy{
		width:170px;
		height: 200px;
		background: url('#{$imgpath}/c03.gif') no-repeat;
	}
	.circle{
		width:170px;
		height: 200px;
		background: url('#{$imgpath}/c04.gif') no-repeat;
	}
	.wells{
		width:170px;
		height: 200px;
		background: url('#{$imgpath}/c05.gif') no-repeat;
	}
}
.storytellers{
	color:white;
	background-color:$pink;
	display:flex;
	flex-direction:column;
	text-align:center;
	//justify-content:center;
}
footer{
	width:100%;
	height:130px;
	background-color:$black;
	display:flex;
	justify-content:center;
	line-height:130px;
	color:$greySocial;
	font-size: 30px;
	i{
		margin-left:2rem;
		&:hover{
			color:$pink;
			cursor:pointer;
		}
	}
	
}
